body {
	background-color: #efeee7;
	margin:0;
	padding:0;
	line-height: 1.5;
	font-family:Arial, sans-serif;
	font-size:16px;
	overflow-x:hidden;
}
header {
	background-color:white;
	border-bottom: 3px solid #cccccc;
	height:100px;
	margin:0;
	width:100%;
	box-sizing: border-box;
	padding-left:300px;
}
hr {
	border-top: 1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
}
h2 {
	color: #4fa9a4;
	font-size:24px;
	font-weight:bold;
	font-family: "Georgia", Times New Roman, Times, serif;
}
footer {
	position:fixed;
	bottom:0;
	width:100%;
	height:50px;
	background-color:#666666;
	text-align:center;
	border-top: 6px solid #4fa9a4;
	color:white;
}
p {
	color:#777777;
	margin-bottom:15px;
}
a {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	color:#777777;
}
label {
	float:left;
	width:100%;
	padding:5px;
	margin:5px;
	font-size:14px
}
input {
	float:left;
	width:100%;
	margin:5px;
	padding:5px;
}
input[type=submit] {
	margin-top:20px;
}
textarea {
	float:left;
	width:100%;
	padding:5px;
	margin:5px;
}
span {
	margin-left:10px;
}
#main-name-header {
	background-color: #4fa9a4;
	width:200px;
	font-size: 28px;
	font-weight:bold;
	font-family: "Georgia",Times New Roman,Times,serif;
	color:white;
	padding:28px;
	display:inline-block;
}
#connect-with-me,
#contact-me,
#my-portfolio,
#placeholder-img,
#about-me {
	float:left;
}
#contact-me,
#my-portfolio,
#about-me {
	width:50%;
	border: 1px solid #cccccc;
	background-color: white;
	height:100%;
	margin-right:50px;
	padding-top:25px;
	padding-left:25px;
	padding-right:25px;
}
#connect-with-me {
	width:50%;
	border: 1px solid #cccccc;
	background-color: white;
	height:200px;
	width:250px;
	padding-top:25px;
	padding-left:25px;
	padding-right:25px;
}
#navMenu {
	float:right;
	margin:40px;
}
#navMenu a {
	margin-right:10px;
}
#placeholder-img {
	width:200px;
	height:200px;
	margin-right:10px;
	border: 1px solid #4fa9a4;
}
#my-portfolio {
	height:350px;
}
.container {
    width:1000px;
	margin: 0 auto;
	margin-top:10px;
	height:100%;
}
.container::after {
	clear:both;
	content:"";
	display:table;
}
.placeholder-img {
	float:left;
	margin-right:19px;
	border: 1px solid #4fa9a4;
	margin-left:5px;
}
.social-media-icon {
	float:left;
	margin-right:15px;
	color:#4fa9a4;
}