body {
	background-color: #efeee7;
	margin:0;
	padding:0;
	line-height: 1.5;
}
header {
	background-color:white;
	border-bottom: 3px solid #cccccc;
	height:100px;
	margin:0;
}
hr {
	border-top: 2px solid #cccccc;
}
h2 {
	color: #4fa9a4;
	font-size:24px;
	font-weight:bold;
	font-family: "Georgia", Times New Roman, Times, serif;
}
#main-name-header {
	background-color: #4fa9a4;
	width:9%;
	font-size: 28px;
	font-weight:bold;
	font-family: "Georgia",Times New Roman,Times,serif;
	color:white;
}
#connect-with-me,
#about-me {
	float:left;
}
#about-me {
	width:550px;
	border: 1px solid #cccccc;
	background-color: white;
	height:200px;
	margin-right:50px;
	padding-top:25px;
	padding-left:25px;
	padding-right:25px;
}
#connect-with-me {
	width:30%;
	border: 1px solid #cccccc;
	background-color: white;
	height:200px;
	width:250px;
	padding-top:25px;
	padding-left:25px;
	padding-right:25px;
}
.container {
    width:1000px;
	margin: 0 auto;
	margin-top:50px;
}
.clearFix::after {
	clear:both;
	content:"";
	overflow:auto;
}
#navMenu {
	float:right;

}